@import "tailwindcss";

@plugin "daisyui" {
  themes: portfolio-dark --default, portfolio-light;
  root: ":root";
  prefix: "d-";
  logs: false;
}

 /* light theme */
@plugin "daisyui/theme" {
  name: "portfolio-light";
  color-scheme: light;

  --color-base-100: #f8fafc;
  --color-base-200: #f1f5f9;
  --color-base-300: #e2e8f0;
  --color-base-content: #0f172a;

  --color-primary: #0369a1;
  --color-primary-content: #f0f9ff;

  --color-secondary: #0f766e;
  --color-secondary-content: #f0fdfa;

  --color-accent: #c2410c;
  --color-accent-content: #fff7ed;

  --color-neutral: #1e293b;
  --color-neutral-content: #f8fafc;

  --color-info: #0284c7;
  --color-info-content: #f0f9ff;

  --color-success: #15803d;
  --color-success-content: #f0fdf4;

  --color-warning: #b45309;
  --color-warning-content: #fffbeb;

  --color-error: #b91c1c;
  --color-error-content: #fef2f2;

  --radius-selector: 0.75rem;
  --radius-field: 0.75rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

/* dark theme */
@plugin "daisyui/theme" {
  name: "portfolio-dark";
  color-scheme: dark;
  
  --color-base-100: hsl(206 100% 1%);
  --color-base-200: hsl(199 88% 4%);
  --color-base-300: hsl(197 57% 8%);

  --color-base-content: hsl(198 100% 93%);
  --color-base-content-muted: hsl(197 35% 68%);
  
  --color-primary: hsl(196 68% 64%);
  --color-primary-content: hsl(200, 70%, 44%);

  --color-secondary: hsl(19 69% 69%);
  --color-secondary-content: hsl(19 69% 49%);

  --color-accent: hsl(136, 80%, 80%);
  --color-accent-content: hsl(136, 80%, 60%);

  --color-neutral: hsl(206 100% 1%);
  --color-neutral-content: hsl(206, 100%, 99%);

  --color-highlight:hsl(197 29% 37%);
  --color-border: hsl(197 40% 26%);
  --color-border-muted: hsl(195 74% 15%);

  --gradient: linear-gradient(0deg, hsl(199 88% 4%) 97%,  hsl(197 57% 8%));
  --gradient-hover: linear-gradient(0deg, hsl(199 88% 4%), hsl(197 57% 8%));

  --color-shadow: hsl(196 72% 6%);

  --color-info: hsl(217 28% 65%);
  --color-info-content: hsl(217, 28%, 45%);

  --color-success: hsl(146 17% 59%);
  --color-success-content: hsl(146, 17%, 39%);

  --color-warning: hsl(52 19% 57%);
  --color-warning-content: hsl(52, 19%, 37%);

  --color-error: hsl(9 26% 64%);
  --color-error-content: hsl(9, 26%, 44%);


  --radius-selector: 0.75rem;
  --radius-field: 0.75rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 2px;
  --noise: 1px;

  --font-base: 400 1rem/1.5 "Inter", sans-serif;
}


@layer base{
  body {
    @apply bg-base-100 text-base-content;
    font: var(--font-base);
  }
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  scroll-snap-type: y mandatory;
}
